<div class="col-sm-12">
  <div class="col-sm-6">
    <h3><%= @lot.crop.name %></h3>
    <p>Lot size: <%= @lot.pounds_of_coffee %></p>
    <p>Pounds being roasted: <%= @batch.starting_amount %></p>
    <p>Pounds remaining in lot: <%= (@lot.pounds_of_coffee - @batch.starting_amount) %></p>
  </div>
  <div class="col-lg-6">
    <section class="panel">
      <header class="panel-heading">
        Doughnut
      </header>
      <div class="panel-body text-center">
        <canvas id="roastChart" height="300" width="400"></canvas>
      </div>
    </section>
  </div>
</div>