@import "../../../assets/stylesheets/variables";

.ui.menu {
    .item {
        &.no-border {
            &:before {
                content: none;
            }
        }
        &.no-left-border {
            border: 0 !important;
        }
        > .button {
            &:not(.unstyled) {
                box-shadow: 0 0 0 2px inset $lightgreen;
                color: white;
                background: $lightgreen;
                &.login-btn {
                    background: white;
                    color: $lightgreen;
                }
            }
            &.unstyled {
                font-size: inherit;
            }
        }
        &:hover {
            > .button {
                &:not(.unstyled) {
                    background: $darkgreen;
                    box-shadow: 0 0 0 2px inset $darkgreen;
                    color: white;
                }
                &.unstyled {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Pulsing the Cart Badge */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.5);
    }
    66% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 0.3s;
    animation-iteration-count: 4;
}

// Roaster/admin nav
.roaster-container {
    flex: 1 1 100%;
}
.roaster-container__sidebar {
    max-width: 400px;
    background: #1b1c1d;
}
.roaster-nav {
    min-width: 300px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    & > .menu {
        position: fixed;
        top: calc(4em + 60px);
        left: 0;
        max-width: 300px;
    }
}
