@import "../../../assets/stylesheets/variables";

.ui.menu {
    &.sidebar {
        .item.nav-btn {
            padding: 0;
            > .button {
                &:not(.unstyled) {
                    width: calc( 100% - 20px );
                    margin: 10px 10px 0;
                }
            }
        }        
    }
    .item {
        &.no-border {
            &:before {
                content: none;
            }
        }
        &.no-left-border {
            border: 0 !important;
        }
        
        > .button {
            &:not(.unstyled) {
                box-shadow: 0 0 0 2px inset $lightgreen;
                color: white;
                background: $lightgreen;
                &.login-btn {
                    background: white;
                    color: $lightgreen;
                }
            }
            &.unstyled {
                font-size: inherit;
            }
        }
        &:hover {
            > .button {
                &:not(.unstyled) {
                    background: $darkgreen;
                    box-shadow: 0 0 0 2px inset $darkgreen;
                    color: white;
                }
                &.unstyled {
                    text-decoration: none;
                }
            }
        }
    }
}

.responsive-sidebar-items {
    .header {
        color: $darkgreen;
    }
    > a.item {
        font-weight: bold !important;
        color: $darkgreen !important;
    }
}

/* Pulsing the Cart Badge */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.5);
    }
    66% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 0.3s;
    animation-iteration-count: 4;
}
