<!-- # TODO - Revisit this -->
<div class="ui container" style="margin: 4em 0">
    <div class="ui segment">
        <%= react_component "wholesale/orders", props = {roaster: current_user.roaster_profile, wholesalers: @wholesale_profiles, orders: @orders} %>
    </div>
</div>
