<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">New Producer Profile</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= render 'form', producer_profile: @producer %>

    <%= link_to 'Back', producer_profiles_path %>
  </div>
</div>
