<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><%= @producer.name %></h3>
  </div>
</div>

<p>
  <strong>Location:</strong>
  <%= @producer.location %>
</p>

<p>
  <strong>Wallet Address:</strong>
  <%= @producer.wallet_address %>
</p>

<p>
  <strong>Chain Name:</strong>
  <%= @producer.slug %>
</p>