<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><%= @producer_profile.name %></h3>
  </div>
</div>

<p>
  <strong>Location:</strong>
  <%= @producer_profile.location %>
</p>

<p>
  <strong>Wallet Address:</strong>
  <%= @producer_profile.wallet_address %>
</p>

<p>
  <strong>Chain Name:</strong>
  <%= @producer_profile.slug %>
</p>