/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font_awesome5
 *= require_self
 */
@import "semantic-ui";
@import "variables";
@import "sui-overrides";

.hidden {
    display: none;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
body {
    background: image-url("bg-1.jpg"), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) no-repeat center center fixed;
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    &.customer {
        background-image: image-url("coffee-imgs/coffee-img-26.jpg"), linear-gradient(rgba(255, 255, 255, 0.5), rgba(149, 101, 74, 5));
    }
}

.jumbotron {
    background: rgba(233, 236, 239, 0.8);
}
footer {
    background: rgba(233, 236, 239, 1);
}

// Fix Semantic-ui inline fields
.ui.form .inline.fields > .field:last-child {
    padding: 0;
}

.dimmer .content {
    width: 100%;
}

// Pin footer to bottom
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    height: auto;
    > div {
        overflow: hidden;
    }
    .site-footer {
        margin-top: auto;
    }
    .width-wrapper {
        padding: 20px;
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;
        @media screen and (min-width: 540px) {
            padding: 4em;
        }
    }
    .text-wrapper {
        max-width: 850px;
        margin: 0 auto;
    }
    // Roaster/admin nav
    .roaster-container {
        flex: 1 1 100%;
    }
    .roaster-container__sidebar {
        display: none;
    }
    @media screen and (min-width: 1000px) {
        .roaster-container__main {
            max-width: calc(100% - 200px);
        }
        .roaster-container__sidebar {
            background: #1b1c1d;
            text-align: right;
            width: 200px;
            display: block;
        }
        #main-nav {
            // TODO revisit sticky roaster nav
            margin-top: 4em;
            margin-top: 4em;
            // position: fixed;
            // top: calc(4em + 60px);
            // left: 0;
            // width: 200px;
        }
    }
    @media screen and (max-width: 1280px) {
        .roaster-container .width-wrapper {
            padding: 4em 20px;
        }
    }
    @media screen and (min-width: 1380px) {
        .roaster-container__main {
            max-width: calc(100% - 300px);
        }
        .roaster-container__sidebar {
            width: 300px;
        }
        #main-nav {
            width: 300px;
        }
    }
}
@media print {
    #hubspot-messages-iframe-container {
        display: none !important;
    }
}

@import "stripe";
@import "globals";
@import "flexbox";
