.primary-text {
    color: $primary !important;
}

.small-text {
    font-size: 11px;
}

.poweredby {
    margin-top: 6px;
    color: $darkgray;
}

.text-centered {
    text-align: center;
}

.footer-nav {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    .footer-nav-inner {
        height: 100%;
    }
}
.footer-tag {
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    
}

@media screen and (max-width: 600px) {
    .footer-nav,
    .footer-tag {
        flex-basis: 100% !important;
        border: none;
    }
}