@mixin primaryButton {
    background: $lightgreen;
    color: white;
    &:focus,
    &:hover {
        background: $darkgreen;
    }
    &.inverted {
        background: white;
        box-shadow: 0 0 0 2px inset $lightgreen !important;
        color: $lightgreen !important;
        &:hover,
        &:focus {
            box-shadow: 0 0 0 2px inset $darkgreen !important;
            background: $darkgreen;
            color: white !important;
        }
    }
}

// Buttons
.ui.button {
    &.primary {
        @include primaryButton;
    }
}

.ui.form .field > label.button {
    font-size: 16px;
    padding: 12px 20px;
    @include primaryButton;
}

.ui.header {
    color: $darkgreen;
}

// Progress bar
.ui.progress .bar {
    min-width: 6px;
}
