$darkgreen: #17571c;
$lightgreen: #45a44d;
$brown: rgb(108, 63, 50);
$offwhite: #fafafa;
$text: #3a3a3a;
$lightgray: #ededed;
$darkgray: #a2a2a2;

$track-color: $darkgray;
$thumb-color: $lightgreen;

// $thumb-radius: 50%;
$thumb-height: 30px;
$thumb-width: 30px;
// $thumb-shadow-size: 4px;
// $thumb-shadow-blur: 4px;
// $thumb-shadow-color: rgba(0, 0, 0, 0.2);
$thumb-border-width: 1px;
// $thumb-border-color: #eceff1;
//
// $track-width: 100%;
$track-height: 18px;
// $track-shadow-size: 1px;
// $track-shadow-blur: 1px;
// $track-shadow-color: rgba(0, 0, 0, 0.2);
// $track-border-width: 2px;
// $track-border-color: #cfd8dc;
//
// $track-radius: 3px;
// $contrast: 5%;

:export {
    darkgreen: $darkgreen;
    lightgreen: $lightgreen;
    brown: $brown;
    offwhite: $offwhite;
    text: $text;
    lightgray: $lightgray;
    darkgray: $darkgray;
}
