<p>Hello <%= @resource.name || @resouce.email %>!</p>

<p><strong><%= @roaster.name %></strong> has added you as a customer on their wholesale platform. To get started, you can change your password and complete the onboarding process.</p>

<p><%= link_to 'Get Started', edit_user_password_url(@resource, reset_password_token: @token, subdomain: @roaster.subdomain ) %></p>