<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fas fa-user-astronaut"></i> Admin</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home fa-lg"></i> <%= link_to 'Home', admin_dashboard_path %></li>
      <li><i class="fas fa-user-astronaut fa-lg"></i> Admin</li>
      <% if controller_name == 'plans' %>
        <li><i class="fab fa-stripe fa-lg"></i> <%= link_to 'Plans', admin_plans_path %></li>
      <% end %>
    </ol>
  </div>
</div>