<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= react_component("roaster_profile_wizard/App") %>
    </div>
  </div>
</div>
<% content_for :body_class, 'login-img-body' %>
