<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">New Roaster Profile</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= render 'form', roaster_profile: @roaster_profile %>

    <%= link_to 'Back', roaster_profiles_path %>
  </div>
</div>
